*{
 	padding:0px;
 	margin:0px;
 	border:0px;
 	text-decoration: none;
}
body{
	background-color: #F7F7F7;
}
div.a{
	width: 5%;
	height: 60px;
	background-color: #FFFFFF;
	float: left;
}
div.b{
	width: 12%;
	height: 60px;
	background-color: #FF5A00;
	color: white;
	text-align:center;
	float: left;
}
#c{
	font-size: 32px;
	font-weight: 20px;
	letter-spacing:4px;
	font-family: "华文中宋";
}
#d{
	font-size: 13px;
	font-weight: 100px;
}
div.e{
	width: 100%;
	height: 60px;
	background-color: white;
}
.f{
	position: relative;
	left: 50px;
	top: 20px;
	color: #FF5A00;
}
.g{
	position: relative;
	left: 90px;
	top: 20px;
}
.h{
	position: relative;
	left: 130px;
	top: 20px;
}
.i{
	position: relative;
	left: 170px;
	top: 20px;
}
.j{
	position: relative;
	left: 210px;
	top: 20px;
}
.k{
	position: relative;
	left: 240px;
	top: 20px;
	color: #FF5A00;
}
.m{
	position: relative;
	left: 270px;
	top: 20px;
}
.n{
	position: relative;
	left: 310px;
	top: 20px;
}
.l{
	position: relative;
	left: 350px;
	top: 20px;
}
.o{
	width: 40px;
	height: 40px;
	position:absolute;
	left: 1200px;
	top: 10px;
	border-radius:40px;
}
#ee{
	display: inline-block;
}
.h-content{
	display: none;
	position: absolute;
    z-index: 3;
	left: 32%;
	top: 60px;
	text-align:center;
	line-height: 32px;
    background-color: #f9f9f9;
    font-weight: lighter;
    font-size: 13px;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 8px;
}
#ee:hover .h-content{
	display: block;
}
#ppp{
	width: 600px;
	height: 340px;
	position: relative;
	left: 60px;
	top: 50px;
	background-color: pink;
	overflow: hidden;
}
#rrr{
	position: absolute;
    width: 3000px;
    height: 340px;
    z-index: 1;
}
#rrr img{
	width: 600px;
	height: 340px;
	float: left;
}
#ttt{
    position: absolute;
    left: 520px;
    bottom:20px;
    width: 100px;
    height: 10px;
    z-index: 2;
}
#ttt span{
	margin-left: 5px;
    display: inline-block;
    width: 7px;
    height: 5px;
    border-radius: 30%;
    background-color:#D4A881;
    text-align: center;
    color:white;
    cursor: pointer;
}
#ttt .on{
    width: 15px;
    color: #FFFFFF;
}
.arrow{
	position: absolute;
    top: 40%;
    color: white;
    font-size: 30px;
    font-weight: lighter;
    padding:10px 5px 15px 5px;
    z-index: 2;
    display: none;
}
#prev{
    left: 0px;
}
#next{
	right: 0px;
}
#ppp:hover .arrow {
    display: block;
}
.arrow:hover {
	background-color: rgba(0,0,0,0.2);
}
.q{
	width: 260px;
	position:absolute;
	left: 670px;
	top: 110px;
}
.r{
	width: 260px;
	position: absolute;
	left: 940px;
	top: 110px;
}
.s{
	width: 260px;
	position:absolute;
	left: 670px;
	top: 285px;
}
.t{
	width: 260px;
	position: absolute;
	left: 940px;
	top: 285px;
}
#div{
	color: white;
	font-weight: bold;
	font-size: 15px;
}
.u{
	position: absolute;
	left: 673px;
	top: 245px;
}
.w{
	position: absolute;
	left: 950px;
	top: 245px;
}
.v{
	position: absolute;
	left: 673px;
	top:420px;
}
.x{
	position: absolute;
	left: 950px;
	top: 420px;
}
table
{
	position: relative;
	float: left;
	left:70px;
	top: 80px;
	width: 320px;
	height: 170px;
	background-color: white;
	text-align: center;
}
.y{
	position: relative;
	left: 80px;
	top: 80px;
	float: left;
	width: 260px;
	height: 170px;
	background-color: white;
}
#w{
	position: relative;
	left: 20px;
	top: 20px;
	font-weight: bold;
}
#x{
	position: relative;
	left: 20px;
	top: 20px;
	color: grey;
	font-weight: lighter;
	font-size: 13px;
}
#u{
	position: relative;
	left: 25px;
	top: 20px;
	width: 50px;
	background-color: #F7F7F7;
	border: solid 1px;
}
#y{
	position: relative;
	left: 15px;
	top: 40px;
	width: 115px;
}
#z{
	position: relative;
	left: 15px;
	top: 40px;
	width: 115px;
}
#t{
	position: relative;	
	left: 25px;
	top: 40px;
	font-weight: lighter;
	font-size: 13px;
}
#v{
	position: relative;	
	left: 50px;
	top: 40px;
	font-weight: lighter;
	font-size: 13px;
}
.z{
	position: relative;
	left: 90px;
	top: 80px;
	float: left;
	width: 260px;
	height: 170px;
	background-color: white;
}
.a1{
	position: relative;
	left: 100px;
	top: 80px;
	float: left;
	width: 260px;
	height: 170px;
	background-color: white;
}
#a1{
	position: relative;
	top: 30px;
	width:260px;
	height:1px;
	border-top:solid 1px  grey;
}
.a2{
	position: relative;
	left: 20px;
	top: 40px;
	font-size: 14px;
	line-height: 25px;
	letter-spacing: -1px;
}
#a2{
	position: absolute;
	right:25px;
	background-color: #F2D7C2;
	width: 75px;
}
.a3{
	position: absolute;
	top:680px;
	left: 68px;
	background-color: white;
	width: 1130px;
	height: 40px;
	display:table;
}
#a3{
	position: relative;
	left: 30px;
	color: orange;
	font-weight: lighter;
	display:table-cell;
	vertical-align:middle;
}
#a4{
	position: relative;
	left: 60px;
	font-weight: lighter;
	display:table-cell;
	vertical-align:middle;
	letter-spacing: -1px;
	font-family: "宋体";
	font-size: 13px;
}
#a5{
	position: absolute;
	left: 130px;
	top: 9px;
	width: 2px;
	height: 20px;
	border-right: solid 2px grey;
}
.a4{
	position: relative;
	top: 350px;
	right: 1040px;
}
.a5{
	position: absolute;
	left:250px;
	top: 750px;
	width:80%;
	height: 4650px;
	background-color: white;
}
#a6{
	color: orange;
	position: relative;
	left: 100px;
	top: 50px;
	font-weight: lighter;
}
#a7{
	position: relative;
	left: 130px;
	top: 50px;
	font-weight: lighter;
}
#a8{
	position: relative;
	left: 160px;
	top: 50px;
	font-weight: lighter;
}
#a9{
	position: relative;
	left: 95px;
	top: 60px;
	width: 70px;
	height: 2px;
	border-top:solid 2px orange;
}
#b1{
	position: relative;
	left: 165px;
	top: 57px;
	width: 480px;
	height: 0.5px;
	border-top: solid 0.5px grey;
}
#b2{
	position: relative;
	left: 700px;
	top: 20px;
	width: 200px;
	height: 30px;
	background-color: #F7F7F7;
}
#b3{
	position: relative;
	left:700px;
	top: 20px;
	width: 40px;
	height: 30px;
	background-color: black;
	color: white;
}
#b4{
	position: relative;
	left: 100px;
	top: 50px;
	color: #0DA4D3;
	font-size: 17px;
}
#b5{
	position: relative;
	left: 100px;
	top: 56px;
	color:  grey;
	font-size: 12px;
}
#b6{
	position: relative;
	left: 100px;
	top: 80px;
	border-radius: 10px;
}
#b7{
	position: relative;
	left: 100px;
	top: 90px;
	color: grey;
	font-size: 14px;
}
#b8{
	position: relative;
	left: 100px;
	top: 120px;
	height: 0.5px;
	width: 550px;
	border-top: solid 0.5px grey;
}
#tab{
	position:absolute;
	left: 700px;
	top:100px;
	width:250px;
	height: 300px;
}
#tab .active{
	background-color:#FF5A00;
	color: white;
}
#tab h3{
	font-size:14px;
	font-weight: lighter;
	float:left;
	background-color: #CCC;
	width:82px;
	height:30px;
	line-height:30px;
	text-align:center;
}
#tab div{
	width: 250px;
	clear:both;
	padding-top: 20px;
	color: grey;
	font-size:13px;
	display:none;
}
#b9{
	line-height: 15px;
}
#c1{
	line-height: 25px;
}
#tab img{
	position: relative;
	bottom: 45px;
	width: 80px;
	border: solid 1px grey;
	float: right;
}
.a6{
	position: relative;
	left: 60px;
	top: 380px;
	background-color:#E3E3E3;
	width: 10px;
	height: 30px;
}
.a7{
	position: relative;
	left: 70px;
	top: 354px;
	background-color: #F3F3F3;
	color: grey;
	width: 150px;
	height: 25px;
	font-weight: lighter;
	font-size: 13px;
	padding-left: 5px;
}
.a8{
	position: relative;
	bottom: 12px;
}
.a9{
	position: relative;
	top: 380px;
	left: 60px;
	width: 50px;
}
.b1{
	position: relative;
	top: 420px;
	left: 60px;
	width: 50px;
}
.b2{
	position: relative;
	top: 460px;
	left: 60px;
	width: 50px;
}
.b3{
	position: relative;
	top: 500px;
	left: 60px;
	width: 50px;
}
.b7{
	position: relative;
	top: 165px;
	left: 130px;
	height: 50px;
	line-height: 10px;
}
.b4{
	color: #525252;
	font-weight: bold;
}
.b5{
	color: #525252;
	font-size: 14px;
}
.b6{
	color: #BBBBBB;
	font-weight: lighter;
	font-size: 12px;
}
.b8{
	position: relative;
	top: 210px;
	left: 130px;
	height: 50px;
	line-height: 10px;
}
.b9{
	position: relative;
	top: 255px;
	left: 130px;
	height: 50px;
	line-height: 10px;
}
.c1{
	position: relative;
	top: 300px;
	left: 130px;
	height: 50px;
	line-height: 10px;
}
.c2{
	position: relative;
	left: 60px;
	top: 350px;
	background-color:#E3E3E3;
	width: 10px;
	height: 30px;
}
.c3{
	position: relative;
	left: 70px;
	top: 324px;
	background-color: #F3F3F3;
	color: grey;
	width: 150px;
	height: 25px;
	font-weight: lighter;
	font-size: 13px;
	line-height: 25px;
	padding-left: 5px;
}
.c4{
	position: relative;
	left: 60px;
	top:340px;
	width: 160px;
	height: 400px;
}
.c4 button{
	position: relative;
	background-color:#FAFAFA;
	border: solid 1px #E3E3E3;
	width: 70px;
	height: 30px;
	color: grey;
	margin-top: 4px;
}
.c6{
	float: right;
}
.c7{
	position: relative;
	top: 320px;
	left: 60px;
}
.c8{
	position: relative;
	left: 60px;
	top: 350px;
	width: 160px;
	color: grey;
	font-family: "楷书";
	font-size: 15px;
	font-weight: 500; 
	line-height: 50px;
}
.c9{
	position: relative;
	top: 20px;
}
.d1{
	position: relative;
	left: 60px;
	top: 390px;
	background-color:#E3E3E3;
	width: 10px;
	height: 30px;
}
.d2{
	position: relative;
	left: 70px;
	top: 364px;
	background-color: #F3F3F3;
	color: grey;
	width: 150px;
	height: 25px;
	font-weight: lighter;
	font-size: 13px;
	line-height: 25px;
	padding-left: 5px;
}
.d7{
	width: 50px;
}
.d3{
	position: relative;
	left: 60px;
	top: 400px;
}
.d4{
	position:relative;
	left: 60px;
	bottom: 80px;
	font-size: 14px;
	font-weight: lighter;
}
.d5{
	position:relative;
	left: 60px;
	bottom: 83px;
	font-weight: bold;
	font-size: 12px;
}
.d6{
	position:relative;
	left: 55px;
	bottom: 83px;
	color: #717171;
	font-weight: lighter;
	font-size: 11px;
}
.d8{
	position: relative;
	left: 60px;
	top: 370px;
}
.d9{
	position: relative;
	bottom: 60px;
	width: 150px;
	height: 0.5px;
	border-top: dashed 0.5px grey;
}
.e1{
	position: relative;
	left: 60px;
	top: 350px;
}
.e2{
	position: relative;
	left: 60px;
	top: 330px;
}
.e3{
	position: relative;
	left: 60px;
	top: 300px;
	width: 160px;
}
.e4{
	position: relative;
	left: 60px;
	top: 340px;
	background-color:#E3E3E3;
	width: 10px;
	height: 30px;
}
.e5{
	position: relative;
	left: 70px;
	top: 314px;
	background-color: #F3F3F3;
	color: grey;
	width: 150px;
	height: 25px;
	font-weight: lighter;
	font-size: 13px;
	line-height: 25px;
	padding-left: 5px;
}
.e7{
	position: relative;
	left: 60px;
	top: 330px;
	line-height: 20px;
	color: grey;
	font-size: 12px;
}
.e7 p{
	position: relative;
	left: 40px;
	margin-bottom: 20px;
}
.e6{
	position: relative;
	width: 150px;
	height: 30px;
	color: grey;
	background-color: #FAFAFA;
	border: #E3E3E3 1px solid;
}
#cx{
	position: relative;
	top: 150px;
	left: 100px;
	width: 550px;
	height: 300px;
}
#c2{
	color: #525252;
}
#c3{
	position: relative;
	left: 20px;
	color: #FF5A00;
	border: 1px #FF5A00 solid;
	background-color: white;
	width: 60px;
	height: 20px;
	font-size: 12px;
}
#c4{
	position: relative;
	left: 350px;
	font-weight: lighter;
	font-size: 12px;
}
#c6{
	width: 250px;
	height: 140px;
	float: left;
}
#c5{
	position: relative;
	top: 20px;
	width: 100px;
	border: #E8E8E8 1px solid;
	float: left;
}
#c7{
	position: relative;
	top: 25px;
	float: left;
	left: 15px;
	line-height: 20px;
	font-size: 13px;
	color: #525252;
}
#c9{
	clear: both;
	position: relative;
	top: 25px;
	font-size: 13px;
	color: #AAAAAA;
}
#c8{
	position: relative;
	bottom: 2px;
	left: 115px;
	font-size: 13px;
	color: #AAAAAA;
}
#e1{
	width: 250px;
	height: 140px;
	float: right;
}
#e2{
	position: relative;
	top: 270px;
	height: 0.5px;
	width: 550px;
	border-top: solid 0.5px grey;
}
#e3{
	position: relative;
	top: 130px;
}
#e4{
	position: relative;
	top: 230px;
}
#e5{
	position: relative;
	top: 330px;
}
#e6{
	position: relative;
	top: 430px;
}
#e7{
	position: relative;
	top: 530px;
}
#e8{
	position: relative;
	top: 630px;
}
#e9{
	position: relative;
	top: 730px;
}
#f1{
	position: relative;
	top: 830px;
}
#f2{
	position: relative;
	top: 930px;
}
#f3{
	position: relative;
	top: 1030px;
}
#f4{
	position: relative;
	top: 1200px;
	left: 100px;
	width: 550px;
	height: 40px;
	background-color: #FF5A00;
	color: #FFFFFF;
}
#f5{
	position: relative;
	top: 1230px;
	left: 100px;
	width: 550px;
}
#g4{
	float: right;
	font-size: 13px;
}
#f6{
	position: relative;
	top: 15px;
	float: left;
	width: 250px;
	height: 260px;
	border: 1px solid #EAEAEA;
}
#f7{
	position: relative;
	width: 250px;
}
#f8{
	position: relative;
	bottom: 50px;
	left: 10px;
	color: white;
	font-size: 12px;
}
#f9{
	position: relative;
	bottom: 50px;
	left: 110px;
	font-size: 12px;
	color: #FFFFFF;
}
#g5{
	position: relative;
	top: 25px;
	height: 20px;
	width: 3px;
	border-right: 3px #FF5A00 solid;
}
#g1{
	position: relative;
	left: 20px;
	line-height: 25px;
	font-weight: 500;
	color: #525252;
}
#g3{
	position: relative;
	left: 80px;
	top: 20px;
	width: 80px;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #EAEAEA;
}
#g6{
	position: relative;
	bottom: 40px;
	height: 20px;
	width: 250px;
	background: linear-gradient(#FF8003, #FFFFFF);
	z-index: 1;
}
#g2{
	position: relative;
	bottom: 50px;
	width: 250px;
	background-color: #FFFFFF;
}
#g7{
	position: relative;
	top: 15px;
	float: right;
	width: 250px;
	height: 250px;
	border: 1px solid #EAEAEA;
}
#g8{
	position: relative;
	bottom: 40px;
	height: 20px;
	width: 250px;
	background: linear-gradient(#9D9A97 10%, #FFFFFF);
	z-index: 1;
}
#g9{
	position: absolute;
	right: 60px;
	top: 480px;
	width: 250px;
}
#h1{
	position: relative;
	top: 15px;
	float: right;
	width: 250px;
	height: 250px;
	border: 1px solid #EAEAEA;
	margin-bottom: 40px;
}
#h2{
	position: relative;
	bottom: 40px;
	height: 20px;
	width: 250px;
	background: linear-gradient(#8FC6ED 10%, #FFFFFF);
	z-index: 1;
}
#h3{
	width: 250px;
}
#h4{
	margin-top:30px;
	width:100%;
	height:560px; 
}
#h5{
	position: absolute;
	top:5460px;
	left: 50px;
	background-color: #FFFFFF;
	width: 250px;
	height: 340px;
}
#h6{
	width: 250px;
}
#h7{
	position: relative;
	top: 10px;
	left: 30px;
	color: #525252;
}
#h8{
	position: relative;
	top: 25px;
	left: 30px;
	font-size: 14px;
	font-weight: lighter;
	color: #525252;
}
#h9{
	position: absolute;
	top:5460px;
	left: 350px;
	background-color: #FFFFFF;
	width: 250px;
	height: 340px;
}
#i1{
	position: absolute;
	top:5460px;
	left: 650px;
	background-color: #FFFFFF;
	width: 250px;
	height: 340px;
}
#i2{
	position: absolute;
	top:5460px;
	left: 950px;
	background-color: #FFFFFF;
	width: 250px;
	height: 340px;
}
#i3{
	position: absolute;
	top: 5900px;
	width: 1240px;
	height: 300px;
	padding-left: 20px;
	padding-top: 20px;
	background-color: #363636;
}
#i3 h4{
	color: #BEBDBD;
	font-weight: lighter;
	line-height: 50px;
}
#i3 p{
	color: #7F838A;
	font-size: 12px;
	line-height: 20px;
}
#i4{
	width: 250px;
	height: 280px;
	float: left;
	padding-left: 50px;
}
#i3 img{
	border:#404040 5px solid;
}
#i3 span{
	position: relative;
	bottom: 25px;
	color: #7F838A;
	font-size: 12px;
	line-height: 20px;
	float: left;
}
#i5{
	position: relative;
	bottom: 35px;
	left: 100px;
}
#i6{
	width: 150px;
	height: 150px;
	background-color: pink;
}
#i7{
	position: relative;
	top: 20px;
	left: 20px;
}
#i8{
	position: absolute;
	top: 6220px;
	width: 1260px;
	height: 250px;
	background-color: black;
	text-align: center;
}
#i9{
	width: 1000px;
	color: #8A8A8A;
	font-size: 12px;
	line-height: 35px;
	padding-top: 40px;
	display: inline-block;
}
#j1{
	display:inline;
	color:#000;
}
#j2{
	width: 1150px;
	margin-top:30px;
	background-color: #101010;
	color: #383838;
	font-size: 12px;
	line-height: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
}
#j3{
	position: relative;
	left: 50px;
}